h1{
  font-family: tahoma, arial;
  text-align: center;
  background-color:  #777799;
}

p.maior{
  color: red;
  text-align: center;
}
.alinhar{
  font-family: tahoma, arial;
  text-align: center;
  background-color:  #777799;
}
